In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/fenago/datasets/main/Bias_correction_ucl.csv")

In [5]:
df.dtypes

station                    float64
Date                datetime64[ns]
Present_Tmax               float64
Present_Tmin               float64
LDAPS_RHmin                float64
LDAPS_RHmax                float64
LDAPS_Tmax_lapse           float64
LDAPS_Tmin_lapse           float64
LDAPS_WS                   float64
LDAPS_LH                   float64
LDAPS_CC1                  float64
LDAPS_CC2                  float64
LDAPS_CC3                  float64
LDAPS_CC4                  float64
LDAPS_PPT1                 float64
LDAPS_PPT2                 float64
LDAPS_PPT3                 float64
LDAPS_PPT4                 float64
lat                        float64
lon                        float64
DEM                        float64
Slope                      float64
Solar radiation            float64
Next_Tmax                  float64
Next_Tmin                  float64
dtype: object

In [4]:
df['Date'] = pd.to_datetime(df['Date'])

In [6]:
year_dummies = pd.get_dummies(df['Date'].dt.year,prefix='year')
year_dummies

      year_2013.0  year_2014.0  year_2015.0  year_2016.0  year_2017.0
0               1            0            0            0            0
1               1            0            0            0            0
2               1            0            0            0            0
3               1            0            0            0            0
4               1            0            0            0            0
...           ...          ...          ...          ...          ...
7747            0            0            0            0            1
7748            0            0            0            0            1
7749            0            0            0            0            1
7750            0            0            0            0            0
7751            0            0            0            0            0

[7752 rows x 5 columns]

In [7]:
month_dummies = pd.get_dummies(df['Date'].dt.month,prefix='month')
month_dummies

      month_6.0  month_7.0  month_8.0
0             1          0          0
1             1          0          0
2             1          0          0
3             1          0          0
4             1          0          0
...         ...        ...        ...
7747          0          0          1
7748          0          0          1
7749          0          0          1
7750          0          0          0
7751          0          0          0

[7752 rows x 3 columns]

In [8]:
df = pd.concat([df, month_dummies, year_dummies], axis=1)

In [11]:
df

,station,Present_Tmax,Present_Tmin,LDAPS_RHmin,LDAPS_RHmax,LDAPS_Tmax_lapse,LDAPS_Tmin_lapse,LDAPS_WS,LDAPS_LH,LDAPS_CC1,...,Next_Tmax,Next_Tmin,month_6.0,month_7.0,month_8.0,year_2013.0,year_2014.0,year_2015.0,year_2016.0,year_2017.0
0,1.0,28.7,21.4,58.255688,91.116364,28.074101,23.006936,6.818887,69.451805,0.233947,...,29.1,21.2,1,0,0,1,0,0,0,0
1,2.0,31.9,21.6,52.263397,90.604721,29.850689,24.035009,5.691890,51.937448,0.225508,...,30.5,22.5,1,0,0,1,0,0,0,0
2,3.0,31.6,23.3,48.690479,83.973587,30.091292,24.565633,6.138224,20.573050,0.209344,...,31.1,23.9,1,0,0,1,0,0,0,0
3,4.0,32.0,23.4,58.239788,96.483688,29.704629,23.326177,5.650050,65.727144,0.216372,...,31.7,24.3,1,0,0,1,0,0,0,0
4,5.0,31.4,21.9,56.174095,90.155128,29.113934,23.486480,5.735004,107.965535,0.151407,...,31.2,22.5,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7747,23.0,23.3,17.1,26.741310,78.869858,26.352081,18.775678,6.148918,72.058294,0.030034,...,28.3,18.1,0,0,1,0,0,0,0,1
7748,24.0,23.3,17.7,24.040634,77.294975,27.010193,18.733519,6.542819,47.241457,0.035874,...,28.6,18.8,0,0,1,0,0,0,0,1
7749,25.0,23.2,17.4,22.933014,77.243744,27.939516,18.522965,7.289264,9.090034,0.048954,...,27.8,17.4,0,0,1,0,0,0,0,1
7750,NaN,20.0,11.3,19.794666,58.936283,17.624954,14.272646,2.882580,-13.603212,0.000000,...,17.4,11.3,0,0,0,0,0,0,0,0
7751,NaN,37.6,29.9,98.524734,100.000153,38.542255,29.619342,21.857621,213.414006,0.967277,...,38.9,29.8,0,0,0,0,0,0,0,0

In [10]:
df.drop('Date', axis=1, inplace=True)

In [12]:
df.dtypes

station             float64
Present_Tmax        float64
Present_Tmin        float64
LDAPS_RHmin         float64
LDAPS_RHmax         float64
LDAPS_Tmax_lapse    float64
LDAPS_Tmin_lapse    float64
LDAPS_WS            float64
LDAPS_LH            float64
LDAPS_CC1           float64
LDAPS_CC2           float64
LDAPS_CC3           float64
LDAPS_CC4           float64
LDAPS_PPT1          float64
LDAPS_PPT2          float64
LDAPS_PPT3          float64
LDAPS_PPT4          float64
lat                 float64
lon                 float64
DEM                 float64
Slope               float64
Solar radiation     float64
Next_Tmax           float64
Next_Tmin           float64
month_6.0             uint8
month_7.0             uint8
month_8.0             uint8
year_2013.0           uint8
year_2014.0           uint8
year_2015.0           uint8
year_2016.0           uint8
year_2017.0           uint8
dtype: object